{
    "trailingComma": "es5",
    "tabWidth": 4,
    "semi": true,
    "singleQuote": false,
    "importOrder": [
        "^react",
        "^(?!(hooks|types|utils|shared|modules|[./])).+",
        "^hooks",
        "^types",
        "^utils",
        "^shared",
        "modules",
        "^[./]"
    ],
    "importOrderSeparation": true
}
